<div class="container" style="margin: 5em;">
    <h3>{{date | date: "medium"}}</h3>
    <br>
    <h2>Sign Up</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputUserName1">Username*</label>
            <input type="text" formControlName="username" class="form-control" id="username" required>
        </div>

        <!-- Validate username input -->
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

            <div *ngIf="username.errors.required">
                Username is required
            </div>

            <div *ngIf="username.errors.minlength">
                Username must be at least 4 characters long.
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address*</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email"
                class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <!-- Validate email -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

            <div *ngIf="email.errors.required">
                email is required
            </div>

            <div *ngIf="email.errors?.pattern">
                should be a valid email
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password*</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" required>
        </div>

        <!-- Validate email -->
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

            <div *ngIf="password.errors.required">
                password is required
            </div>

            <div *ngIf="!password.errors.passwordValidator">
                Password should contain both lowerCase and upperCase letters
            </div>

        </div>

        <div class="form-group">
            <label for="Role">Role</label>
            <input type="text" formControlName="role" class="form-control" id="Role" aria-describedby="emailHelp">
        </div>
        <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">Submit</button>
        <a routerLink="/"><button style="margin-left: 1em;" class="btn btn-secondary">Back</button></a>
    </form>

</div>